﻿@model CasinoAnalysis.User

@{Layout = "~/Views/Shared/_Layout.cshtml";}


@if (Model == null)
{
    {
        ViewBag.Title = "Error";
    }
    <h2>
        Error: incorrect name format.
    </h2>
    @Html.ActionLink("Back", "Index", "Home")
}
else
{
    {
        ViewBag.Title = "Hello";
    }
    <h2>
        @String.Format("Hello, {0}. Your balance is {1}", Model.Name, Model.Balabce)
    </h2>
    <a href="@Url.Action("AddMoney", "User", new {username = Model.Name, balance = Model.Balabce})"><span>Add money</span></a>
    <a href="@Url.Action("PlayDice", "User", new {username = Model.Name, balance = Model.Balabce})"><span>Play Dice</span></a>
}

